<footer>
    <ul class="social-icons">
    <li><a href="#" target="_blank">Facebook</a></li>
    <li><a href="#" target="_blank">Twitter</a></li>
    <li><a href="#" target="_blank">Instagram</a></li>
    </ul>
    <p class="copyright">&copy; 2023 Tu Empresa. Todos los derechos reservados.</p>
</footer>
<style>
    
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
}
</style>